:root {
    --color-blue: #0077b6;
    --color-grey: #EEEEEE;
    --color-white: #F7F7F7;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: minmax(50px, 7vh) 1fr;
     /* force grid items to expand to height */
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    gap: 1vw;
    grid-row: 1;
    grid-column: 1 / -1;
    padding-left: 1vw;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-bottom: solid grey 1px;
}

.header > svg {
    height: 40px;
    width: 40px;
    fill: var(--color-white);
}

.nav {
    background-color: var(--color-grey);
    border-right: solid grey 1px;
}

.nav-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header, .nav-item {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.nav-header {
    background-color: lightgrey;
    border: solid grey 1px;
}

.nav-info-button {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-info-button > img {
    height: 20px;
    width: auto;
}

.nav-item {
    background-color: var(--color-white);
    border: solid grey 1px;   
    cursor: pointer;
}

.nav-item-hidden {
    display: none;
}

#tasks {
    background-color: var(--color-white);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-header {
    display: flex;
    justify-content: space-between;
}

.task-header > h1 {
    margin: 0;
}

.task-header > img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.task {
    background-color: var(--color-grey);
    border: solid grey 1px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 1vh;
}

.task-left, .task-right {
    display: flex;
    gap: 10px;
}

.task-right {
    gap: 15px;
}

.task-right img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.modal-dialog {
    padding: 0;
    min-width: 30vw;
    border: solid grey 1px;
    border-radius: 10px;
}

.modal-form {
    padding: 20px;
    background-color: var(--color-white);
    color: grey;
    font-size: 1rem;
}

.modal-header {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-bottom: solid grey 1px;
}

.modal-header > h1 {
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    font-size: 2rem;
}

.modal-form, .modal-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.modal-buttons > button {
    min-width: 50px;
    padding: 3px 15px;
    cursor: pointer;
}

.modal-input-field {
    display: flex;
    flex-direction: column;
}

.modal-input-field > input, textarea {
    min-height: 25px;
    font-size: 1rem;
}

.modal-input-field > select {
    min-height: 30px;
    font-size: 1rem;
}